@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px 25px;
    background-color: #e89422;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 1000px;
    margin: auto;
}

header img {
    width: 150px;
    height: 75px;
}

header ul {
    float: right;
    list-style: none;
    font-size: 16px;
}

header li {
    padding: 5px 0;
}

.question-info {
    display: none;
}

main {
    max-width: 550px;
    margin: 100px auto;
    text-align: center;
    background-color: oldlace;
    border-radius: 6px;
}

.start-section {
    padding: 15px;
}

.start-section h2,
.question,
.question-result-text,
.results {
    font-weight: 300;
    font-size: 26px;
    max-width: 340px;
    margin: 20px auto 0;
    line-height: 33px;
}

.start-button,
.submit-button,
.next-button,
.retake-quiz {
    width: 100px;
    height: 50px;
    display: inline-block;
    border: 0.1em solid #e89422;
    border-radius: 0.12em;
    color: #e89422;
    text-align: center;
    transition: all 0.2s;
    font-size: 15px;
    background-color: oldlace;
    margin: 25px;
}

.start-button:hover,
.submit-button:hover,
.next-button:hover,
.retake-quiz {
    color: oldlace;
    background-color: #e89422;
    cursor: pointer;
}

.question,
.question-result-text,
.results {
    padding: 15px;
}

fieldset {
    border: 0;
}

.answer-option {
    width: 200px;
    margin: auto;
}

.answer-option {
    display: flex;
}

.answer-label {
    display: inline-block;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-weight: 400;
}

@media screen and (max-width: 450px) {

    header img,
    header ul {
        display: block;
        margin: auto;
        padding: 0;
    }

    header ul {
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    main {
        margin: 25px auto;
    }

    .start-section h2,
    .question,
    .question-result-text,
    .results {
        font-size: 22px;
        line-height: 21px;
    }
}